<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BibleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SearchBible.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SearchBibleUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C66D91521305ECA00EE6503</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C66D91E21305ECA00EE6503</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD07584215B025700827675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD0758D215B025800827675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4FD28E32118922B008E0A69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4FD28F72118922F008E0A69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4FD29022118922F008E0A69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
